<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurapp</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="background--custom">
<div class="content">
    <header class="header-flex">
        <h1>Bienvenido a Restaurapp</h1>
        <a href="/login" class="login-button">Iniciar sesión</a>
    </header>
    <main>
        <div class="main-content">
            <h2>Inicio</h2>
            <p>¡Bienvenido a Restaurapp! Utiliza el menú de navegación para explorar el sitio.</p>
        </div>
        <div class="content">
            <div class="card">
                <a href="/mesas">Mesas</a>
            </div>
            <div class="card">
                <a href="/platos">Platos</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Restaurapp</p>
        </div>
    </footer>
</div>
</body>
<script>
</script>
</html>
